.header {
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
    margin-bottom: 2rem;
}

body {
    background-color: black;
    color: white9;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px;
}

#fac{
    background-color: black;
    padding:30px 0px;
    margin-left: auto;
    margin-right: auto;
}
#fac h1 {
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 5px;

}
.title{
    text-align:center;
    padding: 25px 0px;
}

.title p {
    font-size: 18px;
}
.card-body{
    background-color: black;
    color: white;
}

.card{
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 48px;
    color: white;
}

.table{
    margin-left: auto;
    margin-right: auto;
  }

#n{
    font-size: 48px;
    color: white;
}

.section{
    margin-left: auto;
    margin-right: auto;
}
.col-md-4{
    margin-left: auto;
    margin-right: auto;
}
.btn{
    background-color: Crimson;
    color: white;
    border: black;
}
.btn:hover {
    background-color:LightPink;
    color: white;
  }